body {
    font-size: 100%;
}

main {
    max-width: 1000px;
    margin: 100px auto 100px;
    border: 1px solid rgb(53, 54, 53);
}

body {
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0.5em;
    color: #F2F2F2;
    background-color: #c8e4be;
}

h1 {
    text-align: center;
    line-height: 1;
    font-weight: 400;
    padding-top: 50px;
}


@mixin btn {
    list-style: none;
    outline: none;
    background: #c8e4be;
    width: 3em;
    height: 3em;
    text-align: center;
    border-radius: 50%;
    background: #c8e4be;
    box-shadow: 6px 6px 12px #aec6a5,
        -6px -6px 12px #e2ffd7;
}

@mixin hover {
    border-radius: 50%;
    background: #c8e4be;
    box-shadow: inset 6px 6px 12px #aec6a5,
        inset -6px -6px 12px #e2ffd7;
}

li {
    list-style: none;
}

.nekocontent {
    display: flex;
    flex-direction: column;
}

.inner {
    margin: 15px 150px 30px;
}

.inputnums {

    display: flex;
    justify-content: center;
    gap: 2rem;

    input {
        font-size: 120%;
    }

    a {
        text-decoration: none
    }


    .gobtn {
        @include btn;
        cursor: grab;

        .modal-btn {
            display: block;
            margin: 0 auto;
            text-align: center;
            line-height: 85px;
            padding: 3px 22px;
            letter-spacing: 0.1em;
        }

        &:hover {
            @include hover
        }

    }

}

.btns {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    li {
        @include btn;

        &:hover {
            @include hover
        }

    }

    a {
        text-decoration: none;
        color: #F2F2F2;
        display: block;
        width: 100%;
        height: 100%;
        padding: 1.5rem 2rem;
    }
}

button {
    background: none;
    border: none;
    appearance: none;
    list-style: none;
    color: #F2F2F2;
    padding: 30px 20px;
    width: 100%;
    max-width: 200px;
    font-size: 1em;
}


// .modal-btn {
//     display: block;
//   margin: 0 auto; 
//   text-align: center;
//   line-height: 50px; 
// }

.parent {
    position: relative;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.432);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all .5s ease;
}

.modal-container.on {
    z-index: 2;
    opacity: 1;
}

.modal-message {
    width: 1000px;
    height: 600px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
}

.modal-close {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ebe7e7f0;
    position: absolute;
    right: 0;
    top: 20px;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal-close::before {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ebe7e7f0;
    top: 0;
    right: 0;
    transform: rotate(90deg);
}

.modal-message p {
    margin-top: 40%;
}

.close-btn-wrap {
    text-align: right;
    position: relative;
    /* width: 30px; */
    height: 30px;
    margin-left: auto;
    margin-right: 20px;
}

.gobtn {
    margin-top: 20px;
}

.imgdag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nekoimg {
    width: 800px;
    height: 600px;

}





@media screen and (max-width: 800px) {
    main {
        max-width: 600px;
        margin: 0 auto;
    }

    .inner {
        margin: 10px 10px 50px;
    }

    button {
        max-width: 100%;
        /* スマートフォンの場合は、ボタンの最大幅を親要素に合わせて伸ばす */
    }
}